@charset "UTF-8";

h1 {
    text-align: center;
}

.grid-container {
    display: grid; /* para ativar o modo de grade*/
    grid-template-columns: repeat (3, 1fr);/* repeat(3, 1fr);" define três colunas de igual largura*/
    gap: 10px;/*espaçamento entre os itens da grade*/
}

.grid-item{
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}