@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 0 15px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links.nav-active{
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: block;
    }
}