@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px;
    
}

.logo {
    font-size: 1.5rem;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 0 15px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.campo{
    text-align: left;
}

.campo > input{
    border: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
   
}

#content-form {
    margin: auto;
    width: 50%;
    padding: 6vw;
    background-color: #d3d3d367;
    border-radius: 20px;
    display: block;
    text-align: center;
}

.campo {
    display: block;
    padding: 15px;
    position: relative;
    font-size: 18px;
    
}

button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #4CAF50;
}

textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.itens{
    background-color: #4CAF50;
}

.pricing-table {
    
    width: 100vw;
    height: 50px;
    border-collapse: collapse;
}

th , td {
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 10px;
    
}

.responsive-text {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0;
}

@media (min-width: 600px){
    .responsive-text {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024) {
    .responsive-text {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links.nav-active{
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: block;
    }
}